<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDDXXGt2O1elBA0wB9X3bbXMfGWhOhTGsU</string>
	<key>GCM_SENDER_ID</key>
	<string>717701143130</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nobody.campick</string>
	<key>PROJECT_ID</key>
	<string>campick-8b1ac</string>
	<key>STORAGE_BUCKET</key>
	<string>campick-8b1ac.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:717701143130:ios:4fbfcf7017bff4fb9b9663</string>
</dict>
</plist>